<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/phone.css">
    <title>Dance Academy</title>
</head>

<body>
    <div id="navbar">
        <div class="mainLogo">
            <img src="../static/logo/logo.png" alt="Error not found!!!" />
            <h1>Dance Academy</h1>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/student">Our Students</a></li>
            <li><a href="/join">Join Now</a></li>
        </ul>
    </div>
    <section id="introSection">
        <h1>Welcome to Dance Academy</h1>
        <div class="introImg">
            <img src="../static/bg/l1.png" alt="Error not found!!!" />
        </div>
        <p>The first and only service in the industry providing professional, experienced, pre-screened Judges to Dance
            Competitions Nationwide! Our goal at DA is to supply Competitions with pre-screened, educated Adjudicators
            who have working industry knowledge in all styles of dance.</p>
    </section>
    <section id="courseSection">
        <h2>Our Courses</h2>
        <div class="cardArea">
            <div class="card">
                <h3>Beginner</h3>
                <img src="../static/logo/img1.png" alt="Error not found!!!" />

                <p>Introduction to various styles of dance including Jazz, Funk, Hip Hop, Tap, Ballet, Bollywood,
                    Broadway and Contemporary Basic warm-up techniques, dance steps and combinations in small and large
                    group settings Development of a deeper understanding of the roots of the various dance forms.</p>
            </div>
            <div class="card">
                <h3> Intermediate</h3><img src="../static/logo/img2.png" alt="Error not found!!!" />
                <p>Introduction to various styles of dance including Jazz, Funk, Hip Hop, Tap, Ballet, Bollywood,
                    Broadway and Contemporary Basic warm-up techniques, dance steps and combinations in small and large
                    group settings Development of a deeper understanding of the roots of the various dance forms.</p>
            </div>
            <div class="card">
                <h3> Advanced</h3><img src="../static/logo/img3.png" alt="Error not found!!!" />
                <p>Introduction to various styles of dance including Jazz, Funk, Hip Hop, Tap, Ballet, Bollywood,
                    Broadway and Contemporary Basic warm-up techniques, dance steps and combinations in small and large
                    group settings Development of a deeper understanding of the roots of the various dance forms.</p>
            </div>
        </div>
        <div id="buttonArea">
            <a class="btn" href="/join">Join Now</a>
        </div>
    </section>

    <section id="contactSection">
        <h2>Contact us</h2>
        <div class="contactArea">
            <a href="https://www.instagram.com" target="_blank" )><img src="../static/contact/insta.png" /></a>
            <a href="https://www.facebook.com" target="_blank" )><img src="../static/contact/fb.png" /></a>
            <a href="https://www.twitter.com" target="_blank" )><img src="../static/contact/tw.png" /></a>
            <a href="https://www.linkedin.com" target="_blank" )><img src="../static/contact/ln.png" /></a>
            <a href="https://www.youtube.com" target="_blank" )><img src="../static/contact/yt.png" /></a>
            <a href="https://www.whatsapp.com" target="_blank" )><img src="../static/contact/wp.png" /></a>
        </div>
    </section>
    <footer id="footer">
        copyright &copy; All rights reserved @ SASIDHARAN K 2021
    </footer>
    <script src="../static/script.js"></script>
    <script src="../index.js"></script>
</body>


</html>